body {
  background: #585c68;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.bold
{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
  
  .semi-bold {
    font-weight: 500;
    font-size: 16px;
  }
  .resume {
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
  }
  
  .resume .resume-left {
    width: 280px;
    background: #478ecc;
  }
  
  .resume .resume-left .resume-profile {
    width: 100%;
    height: 180px;
    padding: 15px 55px;
    color: #e3e5e4;
  }
  
  .resume .resume-left .resume-content {
    padding: 0 25px;
  }
  .resume .title {
    margin-bottom: 20px;
    padding: 10px;
  }
  .resume .resume-left .bold  {
    color: #fff;
  }
  
  .resume .resume-left .regular {
    color: #fff;
  }
  
  .resume .resume-left hr {
    padding: 1px 0;
    background-color: #1caedd;
  }
  .resume .resume-left .resume-item:last-child,
.resume .resume-right .resume-item:last-child {
  border-bottom: 0px;
}
.resume .resume-left ul li {
  display: block;
  margin-bottom: 10px;
  align-items: center;
} 
.resume .resume-left ul li .skill-name {
  color: #fff;
  margin: 5px;
}
 .icon {
  color: #fff;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
}


.resume .resume_right {
  width: 520px;
  background: #e3e5e4;
  padding: 25px;
  
}
.resume .resume_right .resume_item .title{
  width: 450px;
  background: #fff;
  padding: 15px;
}
.resume .resume_right .bold {
  color: #747474;
}
.resume .resume_right ul li p {
  font-size: 16px;
  font-weight: 100;
  margin: 5px;
}
.resume .resume_right ul li .date{
  color: #478ecc;
}
.resume .resume_right .resume_hobby ul {
  display: flex;
  justify-content: space-evenly;
}
.resume .resume_right .resume_hobby ul li i {
  font-size: 30px;
  color: #478ecc;
}
.resume .resume_right .info hr{
  padding: 1px 0;
    background-color: #818181; 
}

